.card {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr;
  width: 80%;
  justify-items: center;
  border: solid 2px white;
}

.cardImg {
  border: solid 2px white;
  min-width: 50%;
  max-width: 50%;
  height: 50%;

  padding: 0.5em;
  align-self: center;
  border-radius: 10px;
  object-fit: contain;
}
.cardTitle {
  /* Give the text a defined height for 2-3 lines (adjust as needed) */
  height: 3.5em;
  line-height: 1.2; /* Set line height for accurate calculation */

  /* Crucial: Hides text that exceeds the height limit */
  overflow: hidden;

  /* Styling adjustments */
  margin-top: 5px;
  font-size: 14px;
  padding: 0 5px; /* Add small horizontal padding */
}

.cardQuantity {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.quantityInput,
.quantityUp,
.quantityDown {
  align-self: center;
}
