#root {
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  min-height: 100vh;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.mainContent {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
